apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: news2market
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: ivanausecha/api-gateway:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: "50m"
            memory: "128Mi"
          limits:
            cpu: "150m"
            memory: "256Mi"
        env:
        - name: DATA_ACQUISITION_URL
          value: "http://data-acquisition-service:8001"
        - name: TEXT_PROCESSOR_URL
          value: "http://text-processor-service:8002"
        - name: CORRELATION_URL
          value: "http://correlation-service:8003"
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
  namespace: news2market
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30800
